################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/build/Debug
/.vs/VEX/v14/.suo
/Helper/SharpFont/obj/Debug
/Helper/SharpFont/bin/Debug
/Modules/Core/VEX.Core.WPF/bin/Debug
/Modules/Core/VEX.Core.WPF/obj/Debug
/Modules/SocketTool/VEX.SocketTool.WPF/bin/Debug
/Modules/SocketTool/VEX.SocketTool.WPF/obj/Debug
/WPF/VEX.WPF/obj/Debug
/Libs/Cyotek.Drawing.BitmapFont/bin/Debug
/Libs/Cyotek.Drawing.BitmapFont/obj/Debug
/VEX.VC.VC.opendb
/Debug
/build/Release
/Helper/SharpFont/obj/Release
/Libs/Cyotek.Drawing.BitmapFont/bin/Release
/Libs/Cyotek.Drawing.BitmapFont/obj/Release
/Modules/Core/VEX.Core.WPF/bin/Release
/Modules/Core/VEX.Core.WPF/obj/Release
/WPF/VEX.WPF/obj/Release
/WPF/VEX.WPF/bin/Release
/Tests/VEX.Tests/bin/Release
/Tests/VEX.Tests/obj/Release
/PCL/bin/Release
/Helper/SharpFont/bin/Release
/PCL/obj/Release
Binaries
obj
bin
obj
